body {
	background-color: lightblue;
}


#komunikat {
	border: 1px darkblue solid;
	width: 150px;
	height: 50px;
	background-color: white;
	padding: 10px;
	margin: 200px auto 0 auto;
}


#wroc {
	border:darkblue 2px solid;
	margin-top:5px;
	width: 40px;
	padding: 5px;

background-color: blue;	
}

#wroc a {
	text-decoration: none;
	color: white;
}